<!DOCTYPE >
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>单选题</title>
		<link href="/public/canvas/css/canvas1440.css" type="text/css" rel="Stylesheet">
		<link rel="stylesheet" type="text/css" href="/public/canvas/css/canvas.css" media="screen and (min-width: 1441px)">
		<link rel="stylesheet" href="/public/canvas/css/optiscroll.css">
		<link href="/public/canvas/css/iconfont.css" type="text/css" rel="Stylesheet">
		<link rel="stylesheet" href="/public/canvas/css/green.css" />
		<script type="text/javascript" src="/public/canvas/js/jquery.min.js"></script>
		<script type="text/javascript" src="/public/canvas/js/icheck.min.js"></script>
		<script type="text/javascript" src="/public/static/js/qwebchannel.js"></script>
		<script>
			//正确答案
			var correct;
			//题目id
			var subjectID;
			//候选答案
			var candicate = [];

			var ChartData = {};

			var status;

			var _data = [];

			var DrawCanvasHeight = window.innerHeight;

			var imgi = 0;	
				
			$(function() {

				var data = {
					id: getQueryStringByName("id"),
					path: getQueryStringByName("path")
				};
				var zoomFactor = getQueryStringByName("zoomFactor");
				$.ajax({
					type: "get",
					dataType: 'json',
					url: "/index/getXML",
					async: true,
					data: data,
					success: function(res) {
						if(res.code == "100") {
							console.log(res);
							correct = res.Subject.RightAnswers.RightAnswer; //调接口--正确答案
							subjectID = res.Subject.SubjectID; //题目id
							if(res.Subject.CandicatedAnswers.CandicatedAnswer != null) {
								for(var i = 0; i < res.Subject.CandicatedAnswers.CandicatedAnswer.length; i++) {
									candicate.push(res.Subject.CandicatedAnswers.CandicatedAnswer[i]);
									//$(".question-answer").append('<input type="radio" class="question-answer-radio" name="question" value="' + res.Subject.CandicatedAnswers.CandicatedAnswer[i] + '"/>' + res.Subject.CandicatedAnswers.CandicatedAnswer[i]);
									$(".question-answer").append('<input class="styled" id="' + res.Subject.CandicatedAnswers.CandicatedAnswer[i] + '" type="radio" name="iCheck" value="' + res.Subject.CandicatedAnswers.CandicatedAnswer[i] + '"/>' +
										'<label class="label-select" for="' + res.Subject.CandicatedAnswers.CandicatedAnswer[i] + '">' + res.Subject.CandicatedAnswers.CandicatedAnswer[i] + '</label>' +
										'</div>')
								}
								candicate.push('其他');
								$('input').iCheck({
									radioClass: 'iradio_square-green',
								});
							}
							for(var i = 0; i < candicate.length; i++) {
								ChartData[candicate[i]] = {
									count: 0,
									names: '',
									data: []
								}
							}
							$("#subject").append(res.Subject.SubjectContex);
							//								js_StudentAnswer({ studentID: 1221, studentName: "刘焕辉", answers: "B" })
							//								js_StudentAnswer({ studentID: 12231, studentName: "刘焕辉", answers: "E" })
							//								js_StudentAnswer({ studentID: 122231, studentName: "刘焕辉", answers: "D" })
							var num = 0;
							if($("#subject").find('img').length > 0) {
								$("#subject img").on("load", function() {
									num++;
									if(num == $("#subject img[src!='']").length) {
										if($("#subject").height() > window.innerHeight) {
											DrawCanvasHeight = $("#subject").height();
										}
										$(this).append('<script type="text/javascript" src="/public/canvas/js/canvas.js"><\/script>');
										$(this).append('<script type="text/javascript" src="/public/canvas/js/canvasInit.js"><\/script>');
									}
								})
							} else {
								if($("#subject").height() > window.innerHeight) {
									DrawCanvasHeight = $("#subject").height();
								}
								$('body').append('<script type="text/javascript" src="/public/canvas/js/canvas.js"><\/script>');
								$('body').append('<script type="text/javascript" src="/public/canvas/js/canvasInit.js"><\/script>');
							}
							js_zoomFactor(zoomFactor);
						} else {
							alert("目录不存在");
						}
					}
				});

				//获取url参数值
				function getQueryStringByName(name) {
					var result = location.search.match(new RegExp("[\?\&]" + name + "=([^\&]+)", "i"));
					if(result == null || result.length < 1) {
						return "";
					}
					return result[1];
				}
			})
		</script>
	</head>

	<body>

		<!--画板-->
		<div class="palette" id="palette">
			<!--功能条-->
			<div id="drawController">
				<div id="tools-all">
					<div id="tools-hide"></div>
					<div id="tools-normal"></div>
				</div>
			</div>
			<!--白板-->
			<div class="candiv optiscroll" id="container">
				<div id="content">
					<canvas id="canvas" style="z-index: 5" horizontalScrollPolicy="on" verticalScrollPolicy="on">浏览器不支持哦，亲</canvas>
					<!--题目-->
					<div id="subject"></div>
					<div style="z-index:-1" id="div_text">
						<textarea id="text_input" value="" placeholder="输入内容" onblur="dismissFocus()" onpropertychange="this.style.height = this.scrollHeight + 'px';" oninput="this.style.height = this.scrollHeight + 'px';"></textarea>
					</div>
					<div style="z-index:-1" id="div_img">
						<input id="file-3" class="inputfile inputfile-3" type="file" value="" />
						<label for="file-3" style="outline: none;"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path></svg> </label>
					</div>
					<div id="box">
						<dl><img id="preview" draggable="true"></dl>
					</div>
				</div>
			</div>
		</div>
		<!--颜色选择-->
		<div id="color_tool" class="color">
			<input class="i1" type="button">
			<input class="i2" type="button">
			<input class="i3" type="button">
			<input class="i4" type="button">
			<input class="i5" type="button">
			<input class="i6" type="button">
			<input class="i7" type="button">
			<input class="i8" type="button">
			<input class="i9" type="button">
			<input class="i10" type="button">
			<input class="i11" type="button">
			<input class="i12" type="button">
		</div>
		<!--画笔大小-->
		<div id="line_size" class="border_nochoose">
			<div class="line-style"><img src="/public/canvas/images/line_size_1@2x.png" onclick="chooseLineSize(1)" width="6px;" height="6px;"></div>
			<div class="line-style"><img src="/public/canvas/images/line_size_3@2x.png" onclick="chooseLineSize(3)" width="9px;" height="9px;"></div>
			<div class="line-style"><img src="/public/canvas/images/line_size_5@2x.png" onclick="chooseLineSize(5)" width="12px;" height="12px;"></div>
		</div>
		<!--橡皮擦大小-->
		<div id="rubber_size" class="border_nochoose">
			<div class="line-style"><img src="/public/canvas/images/rubber_size_10.png" onclick="chooseRubberSize(10)" width="6px;" height="6px;"></div>
			<div class="line-style"><img src="/public/canvas/images/rubber_size_20.png" onclick="chooseRubberSize(20)" width="9px;" height="9px;"></div>
			<div class="line-style"><img src="/public/canvas/images/rubber_size_30.png" onclick="chooseRubberSize(30)" width="12px;" height="12px;"></div>
		</div>
		<!--字体大小-->
		<div id="font_size" class="font">
			<select id="selected">
				<option>20</option>
				<option>24</option>
				<option>28</option>
				<option>32</option>
				<option>36</option>
				<option>48</option>
			</select>
		</div>
		<div class="show-total" id="hide"><span>隐藏统计</span></div>
		<div class="show-total" id="show"><span>显示统计</span></div>
		<div class="total">
			<div id="bar-main"></div>
			<!--<div class="total-title">答案分类统计</div>-->
			<div class="total-content">
				<span class="yes">正确人数：<span style="color: #a2bf49;text-decoration: underline;" id="ok">0</span></span>
				<span>错误人数：<span style="color: #e94039;text-decoration: underline;" id="error">0</span></span>
			</div>
		</div>

		<div class="show-ques" id="question_s"><span>输入答案</span></div>
		<div class="show-ques" id="question_h"><span>隐藏答案</span></div>
		<div class="question">
			<div class="question-title">选择题</div>
			<div class="question-answer">
				<!--<input type="radio" class="styled" id="inlineCheckbox1" value="张1"><label for="inlineCheckbox1" class="label-select">张1</label>
				<input type="radio" class="styled" id="inlineCheckbox2" value="张2"><label for="inlineCheckbox2" class="label-select">张2</label>
				<input type="radio" class="styled" id="inlineCheckbox3" value="张3"><label for="inlineCheckbox3" class="label-select">张3</label>
				<input type="radio" class="styled" id="inlineCheckbox4" value="张4"><label for="inlineCheckbox4" class="label-select">张4</label>-->
			</div>
			<div class="question-confirm">确认选择</div>
		</div>
		<script type="text/javascript" src="/public/canvas/js/Animate.js"></script>
		<script type="text/javascript" src="/public/canvas/js/jquery.optiscroll.js"></script>
		<script type="text/javascript" src="/public/canvas/js/wheel.js"></script>
		<script type="text/javascript" src="/public/canvas/js/drag.js"></script>
		<script type="text/javascript" src="/public/canvas/js/echarts.min.js"></script>
		<script type="text/javascript" src="/public/canvas/js/jquery.event.ue.js"></script>
		<script type="text/javascript" src="/public/canvas/js/jquery.udraggable.js"></script>
		<script>
			var myChart;
			var option;
			var studentAnswers = [];

			$(function() {
				//显示，隐藏统计
				$("#show").on("click", function() {
					$("#hide").show();
					$("#show").hide();
					$(".total").show();
					//					$(".show-total").css("border-radius", 0);
				})
				$("#hide").on("click", function() {
					$("#hide").hide();
					$("#show").show();
					$(".total").hide();
					$(".show-total").css({
						"border-top-left-radius": 10,
						"border-bottom-left-radius": 10
					});
				})

				$("#question_s").on("click", function() {
					$(".question").show();
					$("#question_s").hide();
					$("#question_h").show();
					//					$(".show-ques").css("border-radius", 0);
				})
				$("#question_h").on("click", function() {
					$(".question").hide();
					$("#question_s").show();
					$("#question_h").hide();
					$(".show-ques").css({
						"border-top-left-radius": 10,
						"border-bottom-left-radius": 10
					});
				})

				/**
				 * 统计图
				 */
				// 基于准备好的dom，初始化echarts实例
				myChart = echarts.init(document.getElementById('bar-main'));
				// 指定图表的配置项和数据
				option = {
					title: {
						text: '选择人数',
						textStyle: {
							fontSize: 24,
							fontWeight: "normal"
						}
					},
					tooltip: {
						textStyle: {
							fontSize: 24,
							fontWeight: "normal"
						},
						formatter: function(params, ticket, callback) {
							return params.data.names;
						},
					},
					xAxis: {
						axisLabel: {
							textStyle: {
								fontSize: 24
							},
						},
						data: candicate
					},
					yAxis: {
						axisLabel: {
							textStyle: {
								fontSize: 24
							},
						},
						splitNumber: 3
					},
					series: [{
						name: '人数',
						type: 'bar',
						barWidth: 45,
						itemStyle: {
							normal: {
								color: function(params) {
									var colorList = [
										'#C1232B', '#B5C334', '#FCCE10', '#E87C25', '#27727B',
										'#FE8463', '#9BCA63', '#FAD860', '#F3A43B', '#60C0DD',
										'#D7504B', '#C6E579', '#F4E001', '#F0805A', '#26C0C0'
									];
									return colorList[params.dataIndex]
								},
								label: {
									textStyle: {
										fontSize: 24
									},
									show: true,
									position: 'top',
									formatter: '{c}'
								}
							}
						},
						data: _data
					}]
				};
				// 使用刚指定的配置项和数据显示图表。
				myChart.setOption(option);

				if(window.screen.width == '1440') {
					console.log(option.title.textStyle.fontSize)
					option.title.textStyle.fontSize = 20
					option.tooltip.textStyle.fontSize = 20
					option.xAxis.axisLabel.textStyle.fontSize = 20
					option.yAxis.axisLabel.textStyle.fontSize = 20
					option.title.textStyle.fontSize = 20
					option.series[0].barWidth = 30
					option.series[0].itemStyle.normal.label.textStyle.fontSize = 20
					myChart.setOption(option);
				} else if(window.screen.width == '1366') {
					$('.total').css('height', '350px');
					$('.question').css('height', '130px');
					option.title.textStyle.fontSize = 18
					option.tooltip.textStyle.fontSize = 18
					option.xAxis.axisLabel.textStyle.fontSize = 18
					option.yAxis.axisLabel.textStyle.fontSize = 18
					option.title.textStyle.fontSize = 18
					option.series[0].barWidth = 40
					option.series[0].itemStyle.normal.label.textStyle.fontSize = 18
					myChart.setOption(option);
				}

			});
			//开始答题接口
			function js_BeginAnswer(arg) {
				status = 1;
			}

			//发送学生答题接口
			function js_StudentAnswer(student) {
				var stu;
				if($.inArray(student.answers, candicate) == -1) {
					student.answers = '其他';
				}
				$.each(studentAnswers, function(i, c) {
					if(c.studentID == student.studentID) {
						stu = student;
					}
				});
				if(!stu) {
					studentAnswers.push(student);
				}
				//排序
				studentAnswers.sort(function(a, b) {
					return a.answers.charCodeAt() - b.answers.charCodeAt();
				});
				//								correct = '';
				if(!correct) {
					correct = '';
				}
				//有正确答案
				if(correct.length > 0) {
					$("#question_s").hide();
					$("#question_h").show();
					$(".question").show();
					$("#hide").show();
					$("#show").hide();
					$(".total").show();
					$(".question-confirm").hide();
					$("#question_s").children('span').html("显示答案");
					$(".question-answer").find("input[type='radio']").each(function() {
						if(correct == $(this).val()) {
							$(this).parent().next().addClass('correctAnswer');
							$(this).iCheck('check');
							$("input:radio").iCheck('disable');
						}
					})

					for(var i = 0; i < candicate.length; i++) {
						ChartData[candicate[i]] = {
							count: 0,
							names: '',
							data: []
						}
					}

					$.each(studentAnswers, function(i, c) {

						for(var i = 0; i < candicate.length; i++) {
							if(c.answers == candicate[i]) {
								ChartData[candicate[i]].count++;
								if(ChartData[candicate[i]].count % 8) {
									ChartData[candicate[i]].names += '&nbsp;&nbsp;' + c.studentName + '&nbsp;&nbsp;';
								} else {
									ChartData[candicate[i]].names += c.studentName + '&nbsp;&nbsp;</br>';
								}
								ChartData[candicate[i]].data.push(c);
							}

							if(correct == candicate[i]) {
								$("#ok").html(ChartData[candicate[i]].count);
								$("#error").html(studentAnswers.length - ChartData[candicate[i]].count);
							}

						}
					});
					option.series[0].data = [];
					for(var i = 0; i < candicate.length; i++) {
						option.series[0].data.push({
							names: ChartData[candicate[i]].names,
							value: ChartData[candicate[i]].count
						})
					}
					myChart.setOption(option);
				} else {
					$("#question_h").show();
					$("#question_s").hide();
					$(".question").show();
				}
			}
			$(".question-confirm").on("click", function() {
				var trueAnswer = $("input[type='radio']:checked").val();
				for(var i = 0; i < candicate.length; i++) {
					ChartData[candicate[i]] = {
						count: 0,
						names: '',
						data: []
					}
				}

				$.each(studentAnswers, function(i, c) {
					for(var i = 0; i < candicate.length; i++) {
						if(c.answers == candicate[i]) {
							ChartData[candicate[i]].count++;
							if(ChartData[candicate[i]].count % 8) {
								ChartData[candicate[i]].names += '&nbsp;&nbsp;' + c.studentName + '&nbsp;&nbsp;';
							} else {
								ChartData[candicate[i]].names += c.studentName + '&nbsp;&nbsp;</br>';
							}
							ChartData[candicate[i]].data.push(c);
						}

						if(trueAnswer == candicate[i]) {
							$("#ok").html(ChartData[candicate[i]].count);
							$("#error").html(studentAnswers.length - ChartData[candicate[i]].count);
						}
					}
				});
				option.series[0].data = [];
				for(var i = 0; i < candicate.length; i++) {
					option.series[0].data.push({
						names: ChartData[candicate[i]].names,
						value: ChartData[candicate[i]].count
					})
				}
				myChart.setOption(option);
				$(".total").show();
				$("#show").hide();
				$("#hide").show();
				$("#question_s").show();
				$("#question_h").hide();
				$(".question").hide();
				var str = trueAnswer.toString();
				//调用C++保存正确答案
				new QWebChannel(qt.webChannelTransport, function (channel){
				    var Dialog = channel.objects.Dialog;
					Dialog.cpp_SaveAnswer(subjectID, str);
              });
			})
			//点击结束答题接口
			function js_EndAnswer(arg) {
				status = 0;
			}
			//缩放
			function js_zoomFactor(zoom) {
				zoomVal = zoom;
				imgi = (zoomVal - 1) * 10;
				$(content).css("zoom", zoomVal);
			}
		</script>
	</body>

</html>