<html>

	<head>
		<title>投票结果</title>
		<link rel="stylesheet" href="/public/static/css/newsubject.css" />
		<!--<meta name="viewport" content="target-densitydpi=device-dpi,width=1580,user-scalable=no" />-->
		<script type="text/javascript" src="/public/static/js/echarts.min.js">
		</script>
	</head>

	<body id="vote-body">
		<!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
		<div id="main" style="width: 600px;height:400px;"></div>

		<button onclick="refersh()">refersh</button>
		<script type="text/javascript" src="/public/static/js/vote.js">
		</script>
	</body>

</html>